@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Here's a new page with a whole bunch of new stuff</h1>

<p>Hey, here's some new stuff</p>
<h1>Here's a new page with a whole bunch of new stuff</h1>

<form>
    <label>First Name</label>
    <input />
</form>